/bin/
/ant-bin/
/src/gen/
/src/tmp/
/JastAddParser*.jar
/jastaddparser*.jar
/source.jar
TEST*.xml

*.swp
*#
*~
.#*
.directory

# Test output directory.
/tmp/

# Gradle
/.gradle
/build/

# Other
/.settings