/bin
/gen
/src/org/jastadd/jastaddparser/AST
/src/org/jastadd/jastaddparser/parser
/JastAddParser*.jar
/jastaddparser*.jar
/source.jar
*.beaver
TEST*.xml

*.swp
*#
*~
.#*
.directory

# test output
/tmp

# Gradle
/.gradle
/build
